
build --cxxopt="-std=c++20"

build:cuda --@rules_cuda//cuda:enable
build:cuda --@rules_cuda//cuda:archs='sm_80;sm_90'
build:cuda --@rules_cuda//cuda:compiler=nvcc
#build --flag_alias=cuda_copts=@rules_cuda//cuda:copts